.App {
  text-align: center;
}
*{
  background-color: #282c34;
  /* text-align: center; */

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img-top{
  padding: 30px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 400px;
  margin: 0 auto;
}


.card-img-top:hover{
  transform: scale(1.2);
}
